@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(272, 73%, 90%);
  --clr-accent-400: hsl(261, 84%, 65%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.cardStock {
  color: var(--clr-neutral-100);
  background-image: url(https://i.pinimg.com/736x/71/a8/58/71a8584d8a9c8a946bb95bde533d5018.jpg);
  background-size: cover;
  padding: 8rem 0 0;
  max-width: 35ch;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.cardCrypto {
  color: var(--clr-neutral-100);
  background-image: url(https://i.pinimg.com/736x/e6/b7/29/e6b7293587e9e7dcde6c8618c3445f34.jpg);
  background-size: cover;
  padding: 8rem 0 0;
  max-width: 35ch;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.cardStock:hover{
  transform: scale(1.05);
}
.cardStock:focus-within{
    transform: scale(1.05);
  }

.cardCrypto:hover {
  transform: scale(1.05);
}
.cardCrypto:focus-within {
    transform: scale(1.05);
  }

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  padding: 1.5rem;
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 0% / 0.3) 10%,
    hsl(0 0% 0% / 1)
  );
  transform: translateY(47%);
  transition: transform 500ms ease;
}

.cardStock:hover .card-content 
{
    transform: translateY(0%);
    transition-delay: 500ms;
}
.cardStock:focus-within .card-content 
{
    transform: translateY(0%);
    transition-delay: 500ms;
}
.cardStock:focus-within .card-content {
    transition-duration: 0ms;
}

.cardCrypto:hover .card-content 
{
    transform: translateY(0%);
    transition-delay: 500ms;
}

.cardCrypto:focus-within .card-content 
{
    transform: translateY(0%);
    transition-delay: 500ms;
}
.cardCrypto:focus-within .card-content {
    transition-duration: 0ms;
}

.card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
}

.cardStock:hover .card-content > *:not(.card-title)
{
    opacity: 1;
    transition-delay: 1000ms;
}
.cardStock:focus-within .card-content > *:not(.card-title)
{
    opacity: 1;
    transition-delay: 1000ms;
}

.cardCrypto:hover .card-content > *:not(.card-title) 
 {
    opacity: 1;
    transition-delay: 1000ms;
}
.cardCrypto:focus-within .card-content > *:not(.card-title) 
 {
    opacity: 1;
    transition-delay: 1000ms;
}
.card-title {
    margin-top: 8rem;
  position: relative;
  width: max-content;
  padding-bottom: .2rem;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: var(--clr-accent-400);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}

.cardStock:hover .card-title::after
 {
  transform: scaleX(1);
}
.cardStock:focus-within .card-title::after
 {
  transform: scaleX(1);
}

.cardCrypto:hover .card-title::after 
 {
  transform: scaleX(1);
}
.cardCrypto:focus-within .card-title::after 
 {
  transform: scaleX(1);
}

.card-body {
  color: rgba(255 255 255 / 0.85);
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
}

.button:hover,
button:focus {
  background-color: var(--clr-neutral-100);
}
